# Django
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL (set POSTGRES_DB to enable PostgreSQL in settings)
POSTGRES_DB=university_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

